<h1><%= @todo_list.title %> - Editing Todo List Item</h1>
<%= form_for [@todo_list, @todo_item] do |form| %>
	<%= render partial: form %>

	<%= form.label :content %>
	<%= form.text_field :content%>

	<%= form.submit "Save" %>
<% end %>